from fastapi import FastAPI, HTTPException
from typing import Dict, Any, Optional
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import pickle
import os
import re

from sqlalchemy import create_engine
import boto3
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler
from google import genai
from google.genai.errors import APIError
from dotenv import load_dotenv
